<style>
  .container_first {
    display: flex;
  }

  .container-img {
    flex: 1;
  }

  .container-img img {
    width: 100%;
    height: auto;
  }

  .container-text {
    flex: 1;
    padding: 0 20px; /* Add padding as needed */
  }

  .container-text h1 {
    margin-top: 0; /* Remove default margin */
  }

  .container-info {
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
</style>

<div class="container container_first" style="margin-top: 70px">
  <div class="container-text">
    <h1>Fixing your Home or Office With Our Experts People</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero fugit
      animi quae aut eos cupiditate perferendis et architecto sint, quo,
      recusandae quaerat? Molestias, esse reprehenderit! Labore iste neque
      cumque laborum? Fuga ad illum ea, aspernatur fugiat nihil adipisci quidem
      at minus a aperiam cum consequuntur dicta saepe odit sapiente! At eos
      reiciendis sequi perspiciatis quis repellat qui dolor natus ullam. Magnam
      illum voluptatum repudiandae dolorum molestias dolores nisi possimus
      cupiditate modi numquam in minus, odit fugit fuga consequuntur hic
      voluptates obcaecati quos accusamus impedit recusandae nam, eos sunt!
      Error, accusamus. Ratione esse, nostrum sequi odio officiis repellendus ad
      doloremque iste cupiditate voluptates nulla quae ullam quam amet
      asperiores harum non, animi, possimus sunt quod iusto consectetur! Qui
      impedit labore culpa.
    </p>
    <button type="button" class="btn btn-warning">Contact us</button>
    &nbsp;&nbsp;&nbsp;<span
      ><i class="fa-solid fa-wand-magic-sparkles"></i></span
    >&nbsp;&nbsp;<a href="#">Watch our promo</a>
    <div class="container-info mt-5">
      <div>
        <h4>24k</h4>
        <p>Projects</p>
      </div>
      <div>
        <h4>23k</h4>
        <p>Review</p>
      </div>
      <div>
        <h4>850</h4>
        <p>Members</p>
      </div>
    </div>
  </div>
  <div class="container-img">
    <img
      src="https://png.pngtree.com/png-clipart/20210311/original/pngtree-electrician-holding-light-bulb-clipart-png-image_5975475.jpg"
      alt="homefix"
    />
  </div>
</div>
