<!-- Footer -->
<style>
  .btn_service {
    color: white;
    border-radius: 0 1rem 0 1rem;
    background-color: purple;
    display: block;
    margin: 0; /* Center the button horizontally */
    transition: transform 0.3s ease; /* Add transition effect */
  }

  .btn_service:hover,
  .btn_service:focus {
    transform: scale(1.1); /* Scale up the button on hover or focus */
    color: white;
  }

  p, a {
    text-align: left;
  }

  .book_service {
    text-decoration: none;
    background-color: purple;
  }
</style>

<footer id="footer"
  class="text-center text-lg-start text-dark m-2 m-lg-0 py-3 mt-auto"
  style="background-color: #ffffff"
>
<hr>
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="fw-bold"><b>HomeFix</b></h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #b4b4b5; height: 2px"
          />
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Add more
            content here to make the footer scrollable.
          </p>
          <div
            class="d-flex flex-wrap justify-content-lg-start"
          >
            <a href="#" class="text-warning me-4"
              ><i class="fa-brands fa-square-facebook"></i></i
            ></a>
            <a href="#" class="text-dark me-4"
              ><i class="fa-brands fa-square-twitter"></i></i
            ></a>
            <a href="#" class="text-dark me-4"
              ><i class="fab fa-google"></i
            ></a>
            <a href="#" class="text-dark me-4"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="#" class="text-dark me-4"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="#" class="text-dark me-4"
              ><i class="fa-brands fa-square-github"></i></i
            ></a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Additional grid columns can be added here for responsiveness -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">News Letter</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #b4b4b5; height: 2px"
          />
          <p>
            <a href="#!" class="text-dark" style="text-decoration: none"
              >MDBootstrap</a
            >
          </p>
          <p>
            <a href="#!" class="text-dark" style="text-decoration: none"
              >MDWordPress</a
            >
          </p>
          <p>
            <a href="#!" class="text-dark" style="text-decoration: none"
              >BrandFlow</a
            >
          </p>
          <p>
            <a href="#!" class="text-dark" style="text-decoration: none"
              >Bootstrap Angular</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Quick links</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #b4b4b5; height: 2px"
          />
          <p>
            <a href="#!" class="text-dark" style="text-decoration: none"
              >Your Account</a
            >
          </p>
          <p>
            <a href="#!" class="text-dark" style="text-decoration: none"
              >Become an Affiliate</a
            >
          </p>
          <p>
            <a href="#!" class="text-dark" style="text-decoration: none"
              >Shipping Rates</a
            >
          </p>
          <p>
            <a href="#!" class="text-dark" style="text-decoration: none"
              >Help</a
            >
          </p>
          <button class="btn btn_service">
            <a href="/form" class="book_service" style="color: white;">Book Service &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
          </button>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Our Address</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #b4b4b5; height: 2px"
          />
          <p><i class="fas fa-home me-3"></i> Kolkata, WB, India</p>
          <p><i class="fas fa-envelope me-3"></i> homefix8080@gmail.com</p>
          <p><i class="fas fa-phone me-3"></i> + 91 8617 xxxx 09</p>
          <p><i class="fas fa-print me-3"></i> + 91 6207 xxxx 44</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="container p-3" style="background-color: #fbfbff">
    &copy;<a class="text-dark" style="text-decoration: none;" href=""><b>HomeFix</b></a>
    <span>- All rights reserved.</span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
