<style>
  .container_services {
    background-color: yellow;
    padding: 20px;
    border-radius: 1rem;
  }

  .container_services h4 {
    margin-bottom: 10px; /* Add margin below headings */
  }

  .container_services p {
    margin-bottom: 20px; /* Add margin below paragraphs */
    text-align: left;
  }

  .col_card {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid transparent;
  }

  .arrow {
    display: none; /* Initially hide the arrow */
    position: absolute;
    bottom: -20px; /* Adjust distance from text */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0; /* Background color of the circle */
    width: 40px; /* Diameter of the circle */
    height: 40px;
    border-radius: 50%; /* Makes it a circle */
    text-align: center;
    line-height: 40px; /* Vertically centers the icon */
    font-size: 20px;
    color: black; /* Color of the arrow */
    transition: opacity 0.3s; /* Add transition for smoother animation */
  }

  .col_card:hover {
    background-color: purple;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .col_card:hover .arrow {
    display: inline-block; /* Show the arrow on hover */
  }
</style>

<div class="container container_services text-center mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col_card">
      <h4>Water Line Repair</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <a href="/waterLineService"
        ><span class="arrow"><i class="fa-solid fa-greater-than"></i></span
      ></a>
    </div>
    <div class="col_card">
      <h4>Gas Line Services</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <a href="/gasLineService"
        ><span class="arrow"><i class="fa-solid fa-greater-than"></i></span
      ></a>
    </div>
    <div class="col_card">
      <h4>Kitchen Plumbing</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <a href="/kitchenPlumbing"
        ><span class="arrow"><i class="fa-solid fa-greater-than"></i></span
      ></a>
    </div>
    <div class="col_card">
      <h4>Bathroom Plumbing</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <a href="/bathroomPlumbing"
        ><span class="arrow"><i class="fa-solid fa-greater-than"></i></span
      ></a>
    </div>
  </div>
</div>
