<style>
  .container_third {
    display: flex;
  }

  .container_third-img {
    flex: 1;
  }

  .container-img img {
    width: 100%;
    height: auto;
  }

  .container-text {
    flex: 1;
    padding: 0 20px; /* Add padding as needed */
  }

  .container-text h1 {
    margin-top: 0; /* Remove default margin */
  }

  .container_third {
    display: flex;
    align-items: center; /* Center items vertically */
  }

  .content {
    display: flex;
    align-items: flex-start; /* Align items at the start of the container vertically */
  }

  .text {
    margin-left: 10px; /* Add margin between the icon and text */
  }

  .fa-hospital,
  .fa-wrench {
    font-size: 50px; /* Adjust icon size */
  }
</style>

<div class="container container_third mt-5">
  <div class="container-img">
    <img
      src="https://i.pinimg.com/originals/8b/7c/1c/8b7c1c962b6bb8f467070daa5209cb9c.png"
      alt="homefix"
    />
  </div>
  <div class="container-text">
    <h1>Always ready to support with best tools and experts</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero fugit
      animi quae aut eos cupiditate perferendis et architecto sint, quo,
      recusandae quaerat? Molestias, esse reprehenderit! Labore iste neque
      cumque laborum? Fuga ad illum ea, aspernatur fugiat nihil adipisci quidem
      at minus a aperiam cum consequuntur dicta saepe odit sapiente! At eos
      reiciendis sequi perspiciatis quis repellat qui dolor natus ullam.
    </p>
    <div class="container mt-5">
      <div class="content">
        <i class="fa-solid fa-hospital"></i>
        <div class="text">
          <h4>24/7 emergency Support</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At eos
            reiciendis sequi perspiciatis quis repellat qui dolor natus ullam.
          </p>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="content">
        <i class="fa-solid fa-wrench"></i>
        <div class="text">
          <h4>Highly professional Plumber</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At eos
            reiciendis sequi perspiciatis quis repellat qui dolor natus ullam.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
