<% layout("/layouts/boiler.ejs") %>
<style>
  .con_plumb {
    margin-top: 70px;
    display: flex;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000; /* Add border to the table */
  }

  th,
  td {
    padding: 8px;
    border: 1px solid #000; /* Add border to table cells */
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  a {
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: 768px) {
    .con-img {
      flex: 1 100%;
    }

    .con_plumb {
      flex-direction: column;
    }
  }
</style>
<div class="container con_plumb">
  <div class="con_img">
    <img
      src="https://t3.ftcdn.net/jpg/00/76/02/96/360_F_76029697_UnktxCNQzjFdmwVpdcjoTqv1VMTNoXl9.jpg"
      alt="plumbing"
    />
  </div>
  <div class="con-text">
    <h1>Plumbing Services</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ullam officia
      eos unde eveniet ducimus, maiores minima est quaerat harum, labore, atque
      ipsum voluptate excepturi provident consectetur assumenda optio similique.
      Voluptate obcaecati quia enim a aperiam, eveniet nihil minima ullam minus
      veritatis molestiae illo commodi velit nemo modi totam deleniti, earum,
      itaque nam atque. Veniam iure nulla omnis dicta cumque. Minus eligendi
      dicta soluta quaerat tenetur ad reiciendis voluptatibus! Quasi aliquam
      mollitia distinctio reprehenderit cupiditate est, qui iure adipisci ipsum
      eum officia illum, accusamus similique error autem officiis explicabo
      aperiam!
    </p>
    <caption>
      <b>Our Plumbing Services</b>
    </caption>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Water Line Repair</a></td>
          <td>Fixing leaks in pipes, faucets, and fixtures.</td>
          <td>$50 - $150</td>
        </tr>
        <tr>
          <td><a href="#">Kitchen Plumbing</a></td>
          <td>Unclogging drains and removing blockages.</td>
          <td>$80 - $200</td>
        </tr>
        <tr>
          <td><a href="#">Bathroom Plumbing</a></td>
          <td>Installing new water heaters or replacing old ones.</td>
          <td>$200 - $500</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn_service">
      <a href="/form" class="book_service" style="color: white;">Book Service &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
    </button>
  </div>
</div>
